<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slem</title>
  <link rel="icon" href="/img/Polotno3.png" sizes="128x128" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/especialistas.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <header class="border-bottom">
      <nav class="navbar navbar-expand-sm" aria-label="Third navbar example">
        <div class="container-fluid">
          <img src="/img/Polotno3.png" class="flex" alt="" width="70px" height="50px" class="logo">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item"><a href="/pages/index.html" class="nav-link">Inicio</a></li>
            <li class="nav-item"><a href="/Pages/especialistas.html" class="nav-link">Especialistas</a></li>
            <li class="nav-item"><a href="/Pages/saludmental.html" class="nav-link">Salud Mental</a></li>
            <li class="nav-item"><a href="/Pages/talleres.html" class="nav-link">Talleres</a></li>
            <li class="nav-item"><a href="/Pages/nosotros.html" class="nav-link">Nosotros</a></li>
            <li class="nav-item"><a href="/Pages/login.html" class="nav-link">Iniciar Sesi&oacute;n</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </div>

  <div>
    <section class="textos-header">
      <div class="p-5 mb-4 rounded-3" id="cuadrito">
        <div class="container-fluid py-5">
          <div class="row">
            <h1 id="h1principal">Descubre los especialistas que tenemos para ti</h1>
          </div>
        </div>
      </div>
      
    </section>

    <div class="container__cards">

      <div class="card">
        <div class="cover">
          <img src="/img/persona2.png" alt="">
          <div class="img__back"></div>
        </div>
        <div class="description">
          <h2>Sebasti&aacute;n Mora</h2>
          <p>Psic&oacute;logo</p>
          <p>Un psic&oacute;logo puede dar tratamientos a numerosos tipos de problemas como por ejemplo a personas
             deprimidas , enojadas o ansiosas por largo tiempo.</p>
          <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona un plan </option>>
            <option value="1">5 Sesiones $30.000</option>
            <option value="2">10 Sesiones $55.000</option>
            <option value="3">15 Sesiones $70.000</option>
          </select>
          <input type="button" value="Agendar cita">
        </div>
      </div>

      <div class="card">
        <div class="cover">
          <img src="/img/p3.png" alt="">
          <div class="img__back"></div>
        </div>
        <div class="description">
          <h2>Cecilia Huerta</h2>
          <p>Psiquiatra</p>
          <p>Capacitada para diagnosticar y tratar trastornos psiqui&aacute;tricos. 
            Puede tratar a adultos como a niños con trastorno psiqui&aacute;tricos, incluye la prescripci&oacute;n de medicamentos y la psicoterapia. </p>
          <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona un plan </option>>
            <option value="1">5 Sesiones $30.000</option>
            <option value="2">10 Sesiones $55.000</option>
            <option value="3">15 Sesiones $70.000</option>
          </select>
          <input type="button" value="Agendar cita">
        </div>
      </div>

      <div class="card">
        <div class="cover">
          <img src="/img/persona4.png" alt="">
          <div class="img__back"></div>
        </div>
        <div class="description">
          <h2>Ra&uacute;l Basaez</h2>
          <p>Neuropsic&oacute;logo</p>
          <p>Psic&oacute;logo especializado en el funcionamiento del cerebro
             y en c&oacute;mo este se relaciona con el comportamiento y la capacidad cognitiva.</p>
          <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona un plan </option>>
            <option value="1">5 Sesiones $30.000</option>
            <option value="2">10 Sesiones $55.000</option>
            <option value="3">15 Sesiones $70.000</option>
          </select>
          <input type="button" value="Agendar cita">
        </div>
      </div>
      <div class="card">
        <div class="cover">
          <img src="/img/persona7.png" alt="">
          <div class="img__back"></div>
        </div>
        <div class="description">
          <h2>Carlos Herrera</h2>
          <p>Neur&oacute;logo</p>
          <p>M&eacute;dico especializado en trastornos del sistema nervioso,
             en el tratamiento de trastornos neurol&oacute;gicos,
             neurodesarrollo, par&aacute;lisis cerebral y epilepsia.</p>

          <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona un plan </option>>
            <option value="1">5 Sesiones $30.000</option>
            <option value="2">10 Sesiones $55.000</option>
            <option value="3">15 Sesiones $70.000</option>
          </select>
          <input type="button" value="Agendar cita">
        </div>
      </div>

      <div class="card">
        <div class="cover">
          <img src="/img/persona8.png" alt="">
          <div class="img__back"></div>
        </div>
        <div class="description">
          <h2>Tara Guti&eacute;rrez</h2>
          <p>Pediatra</p>
          <p>Puede tratar a niños y adolescentes,realiza pruebas m&eacute;dicas
             para descartar causas no psiqui&aacute;tricas de síntomas preocupantes.
          </p>
          <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona un plan </option>>
            <option value="1">5 Sesiones $30.000</option>
            <option value="2">10 Sesiones $55.000</option>
            <option value="3">15 Sesiones $70.000</option>
          </select>
          <input type="button" value="Agendar cita">
        </div>
      </div>

      <div class="card">
        <div class="cover">
          <img src="/img/persona9.png" alt="">
          <div class="img__back"></div>
        </div>
        <div class="description">
          <h2>Emilia Mart&iacute;nez</h2>
          <p>Psicofarmac&oacute;loga</p>
          <p>Doctora especializada en el uso de medicamentos
             psicoactivos para modificar el estado de &aacute;nimo,
              los sentimientos, la cognici&oacute;n y el comportamiento.</p>
          <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona un plan </option>>
            <option value="1">5 Sesiones $30.000</option>
            <option value="2">10 Sesiones $55.000</option>
            <option value="3">15 Sesiones $70.000</option>
          </select>
          <input type="button" value="Agendar cita">
        </div>
      </div>

    </div>
  </div>


</body>

</html>