{% extends "base.html" %}

{% block titulo %} Registro {% endblock %}

{% block contenido %}

<main>
  <div class="contenedor__todo">
    <div class="caja__trasera">
      <div class="caja__trasera-login">
        <h3>¿Ya tienes una cuenta?</h3>
        <p>Inicia sesi&oacute;n para entrar en la p&aacute;gina</p>
        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
      </div>
      <div class="caja__trasera-register">
        <h3>¿A&uacute;n no tienes una cuenta?</h3>
        <p>Registrate para que puedas iniciar sesión</p>
        <button id="btn__registrarse">Regístrarse</button>
      </div>
    </div>

    <!--Formulario de Login y registro-->
    <div class="contenedor__login-register">
      <!--Login-->
      <form method="get" action="" class="formulario__login" enctype="multipart/form-data">
        <h2>Iniciar Sesi&oacute;n</h2>
        <input type="text" placeholder="Rut" name="txtRut" id="txtRut">
        <input type="password" placeholder="Contraseña" name="contra" id="contra">
        <a href="#">
          <button>Entrar</button>
        </a>
      </form>

      <!--Register-->
      <form method="post" action="" class="formulario__register" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Registrarse</h2>
        <input type="{{ campo.field.widget.input_type }}" placeholder="Rut" name="{{ campo.name }}" id="txtRut">
        <input type="{{ campo.field.widget.input_type }}" placeholder="Nombre completo" name="{{ campo.name }}" id="nomCom">
        <input type="{{ campo.field.widget.input_type }}" placeholder="fecha nacimiento" name="{{ campo.name }}" id="fecNac">
        <input type="{{ campo.field.widget.input_type }}" placeholder="Tel&eacute;fono" name="{{ campo.name }}" id="tel">
        <input type="{{ campo.field.widget.input_type }}" placeholder="Direcci&oacute;n" name="{{ campo.name }}" id="dir">
        <input type="{{ campo.field.widget.input_type }}" placeholder="Email" name="{{ campo.name }}" id="email">
        <input type="{{ campo.field.widget.input_type }}" placeholder="Contraseña" name="{{ campo.name }}" id="contra">
        <input type="{{ campo.field.widget.input_type }}" placeholder="Confirmar contraseña" name="{{ campo.name }}" id="confContra">
        <button type="submit" value="Registrar">Registrarse</button>
        <div class="col-12 help-text"> {{ campo.errors }} </div>
      </form>
    </div>
  </div>
</main>
<script src="/libreria/templates/JS/login.js"></script>
{% endblock %}