<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slem</title>
  <link rel="icon" href="/img/Polotno3.png" sizes="128x128" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/saludmental.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="/img/Polotno3.png" alt="" width="70px" height="50px" class="logo">
        <span class="fs-4">Slem</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/Pages/index.html" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="/Pages/especialistas.html" class="nav-link">Especialistas</a></li>
        <li class="nav-item"><a href="/Pages/saludmental.html" class="nav-link disabled">Salud Mental</a></li>
        <li class="nav-item"><a href="/Pages/talleres.html" class="nav-link">Talleres</a></li>
        <li class="nav-item"><a href="/Pages/nosotros.html" class="nav-link">Nosotros</a></li>
        <li class="nav-item"><a href="/Pages/login.html" class="nav-link">Iniciar Sesi&oacute;n</a></li>
      </ul>
    </header>
  </div>
  <div>
    <main>
      <div class="container px-4 py-5" id="custom-cards">
        <h1 id="titulo">Informate con los tipos de afecciones de la salud mental</h1>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 text-shadow-1">
                <h4 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold" id="titulocard">Ansiedad</h4>
                <p>
                  La ansiedad puede ser normal en situaciones estresantes, como hablar en público o realizar una prueba.
                  La ansiedad es solo un indicador de una enfermedad subyacente cuando los sentimientos se vuelven
                  excesivos,
                  en todo momento e interfieren con la vida cotidiana.</p>
                <ul class="d-flex list-unstyled mt-auto">
                </ul>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 text-shadow-1">
                <h4 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold" id="titulocard">Depresi&oacute;n</h4>
                <p>Grupo de afecciones asociadas a los cambios de humor de una persona, dentro de este grupo se
                  encuentra:
                  Trastorno depreseivo-mayor
                  Trastorno depresivo persistente
                  Trastorno bipolar
                  Depresión posparto</p>
                <ul class="d-flex list-unstyled mt-auto">
                </ul>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h4 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold" id="titulocard">Trastorno de oposici&oacute;n desafiante
                </h4>
                <p>
                  Trastorno que se presenta en los niños y se caracteriza por un comportamiento desafiante
                  y desobediente ante las figuras de autoridad.
                  La causa del trastorno negativista desafiante no se conoce con exactitud,
                  pero puede implicar una combinación de factores genéticos y ambientales.</p>
                <ul class="d-flex list-unstyled mt-auto">
                </ul>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h4 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold" id="titulocard">Trastorno de la conducta</h4>
                <p>El niño muestra un patrón continuo de agresión hacia otras personas,
                  y graves violaciones de las reglas y normas sociales en la casa,
                  la escuela y con los compañeros.</p>
                <ul class="d-flex list-unstyled mt-auto">
                </ul>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h4 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold" id="titulocard">Trastorno por d&eacute;ficit de
                  atenci&oacute;n e hiperactividad</h4>
                <p>
                  Trastorno crónico caracterizado por la dificultad para prestar atención,
                  la hiperactividad y la impulsividad.
                  El ADHD suele comenzar en la niñez y puede persistir hasta la edad adulta.
                  Puede ocasionar baja autoestima, problemas en las relaciones y dificultades en la escuela o el trabajo.
                </p>
                <ul class="d-flex list-unstyled mt-auto">
                </ul>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h4 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold" id="titulocard">
                  El síndrome de Tourette comienza en la niñez</h4>
                <p>Incluye movimientos repetitivos o sonidos no deseados (tics) que no se pueden controlar,
                  como el parpadeo constante, el encogimiento de hombros o el uso intempestivo de palabras ofensivas.
                  Sindrome de Gilles de Tourette</p>
                <ul class="d-flex list-unstyled mt-auto">
                </ul>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h4 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold" id="titulocard">Trastorno obsesivo-compulsivo</h4>
                <p>El trastorno obsesivo compulsivo se caracteriza por los pensamientos irracionales
                  y los temores (obsesiones) que provocan comportamientos compulsivos.
                  El TOC se caracteriza por la obsesión en asuntos como el miedo a los gérmenes
                  o la necesidad de organizar ciertos objetos de una manera específica.</p>
                <ul class="d-flex list-unstyled mt-auto">
                </ul>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h4 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold" id="titulocard">Trastorno por estr&eacute;s
                  postraum&aacute;tico</h4>
                <p>Trastorno caracterizado por la imposibilidad de recuperarse después de experimentar
                  o presenciar un evento atemorizante.
                  El trastorno puede durar desde meses hasta años y suele haber episodios que recuerdan
                  el trauma y causan intensas reacciones emocionales y físicas.</p>
                <ul class="d-flex list-unstyled mt-auto">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>


  <div class="container">
    <footer class="py-5">
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <div class="row">
          <div class="col-6 col-md-2 mb-3" id="navegacion">
            <h5>Navegaci&oacute;n</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Inicio</a></li>
              <li class="nav-item mb-2"><a href="/Pages/especialistas.html" class="nav-link p-0 text-muted">Especialistas</a></li>
              <li class="nav-item mb-2"><a href="/Pages/saludmental.html" class="nav-link p-0 text-muted">Salud mental</a></li>
              <li class="nav-item mb-2"><a href="/Pages/talleres.html" class="nav-link p-0 text-muted">Talleres</a></li>
              <li class="nav-item mb-2"><a href="/Pages/nosotros.html" class="nav-link p-0 text-muted">Nosotros</a></li>
              <li class="nav-item mb-2"><a href="/Pages/login.html" class="nav-link p-0 text-muted">Iniciar Sesi&oacute;n</a></li>
            </ul>
          </div>
        </div>

        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#twitter" />
              </svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#instagram" />
              </svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#facebook" />
              </svg></a></li>
        </ul>
      </div>
    </footer>
  </div>
</body>

</html>